{
  "additionalFiles": [
    "[nz.compose.yml",
    " uat.compose.yml]"
  ],
  "autoUpdate": {
    "forcePullImage": false,
    "forceUpdate": false,
    "interval": "1m30s",
    "jobID": "15",
    "webhook": "05de31a2-79fa-4644-9c12-faa67e5c49f0"
  },
  "composeFile": "docker-compose.yml",
  "env": [
    {
      "name": "name",
      "value": "value"
    }
  ],
  "fromAppTemplate": false,
  "name": "myStack",
  "repositoryAuthentication": true,
  "repositoryPassword": "myGitPassword",
  "repositoryReferenceName": "refs/heads/master",
  "repositoryURL": "https://github.com/openfaas/faas",
  "repositoryUsername": "myGitUsername",
  "tlsskipVerify": false
}